@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@400;500;700&display=swap');

body {
    background-color: #1f1e1b !important;
    font-family: 'Yantramanav', Helvetica, Arial, sans-serif !important;
    font-size: 17px !important;
    line-height: 27px !important;
    font-weight: 400 !important;
    letter-spacing: 0px !important;
}
.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header-container {
    left: 0;
    right: 0;
    z-index: 20;
}
header .container {
    border-bottom: 1px solid rgba(161, 168, 137, 0.2);
    z-index: 10;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
[class*='col-'] {
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.header-content {
    display: flex;
}

.logo {
    margin: 0 30px;
}
.logo a {
    display: block;
    line-height: 60px;
    padding: 15px 0;
}
.logo a img {
    vertical-align: middle;
}
.menu ul {
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}
.menu li {
    position: relative;
    list-style: none;
}
.menu a {
    color: white;
    display: block;
    padding: 15px 0;
    line-height: 60px;
    position: relative;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0px;
    text-decoration: none;
    transition: 0.35s ease-in-out;
}
.menu a:hover {
    color: #a6c354;
}

/* tabel */
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    .col-sm-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }

    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-sm-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-sm-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-sm-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-sm-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .header-container {
        position: absolute;
    }
    .home-upper-section-btn {
        margin: 0 10px;
    }
    .home-upper-section {
        padding: 350px 0;
    }
    .alps h3 {
        font-size: 48px;
        line-height: 58px;
        font-weight: 700;
        letter-spacing: 0px;
    }
    .alps h6 {
        font-size: 13px;
        line-height: 25px;
        font-weight: 500;
        letter-spacing: 0px;
    }
    .slick-image img {
        width: 60%;
    }
    .blog-post-text {
        font-size: 14px;
        line-height: 23px;
        letter-spacing: 0px;
    }
    .about-me-upper-section-text h1 {
        font-size: 55px;
        line-height: 60px;
    }
    .about-me-upper-section-text h3 {
        font-size: 26px;
        line-height: 36px;
    }
    [class*='about-me-argument-'] {
        width: 48%;
        margin: 0 1% 40px;
    }
    [class*='about-me-argument-'] h3 {
        font-size: 42px;
        line-height: 42px;
    }
    [class*='about-me-argument-'] h4 {
        font-size: 18px;
        line-height: 25px;
    }
    .about-me-post-image {
        height: 250px;
    }
}
/* laptop */
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .col-md-2 {
        flex: 0 0 16.66667%;
        max-width: 16.66667%;
    }
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-md-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
    .col-md-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-md-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .col-md-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    .col-md-10 {
        flex: 0 0 83.33333%;
        max-width: 83.33333%;
    }
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .blog-post-text {
        font-size: 17px;
        line-height: 27px;
        font-weight: 400;
        letter-spacing: 0px;
    }

    .blog-post-footer {
        margin-top: 30px;
    }
    .about-me-post-image {
        height: 330px;
    }
}
/* desktop */
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    .blog-post-title {
        margin-top: 30px;
    }
    .blog-post-footer {
        margin-top: 90px;
    }
    .about-me-post-image {
        height: 430px;
    }
}
/* only mobile */
@media (max-width: 767px) {
    .container {
        max-width: 760px;
    }
    .logo {
        display: flex;
        justify-content: center;
    }

    .nav-mobile-menu {
        width: 20px;
        height: 20px;
        position: absolute;
        left: 90%;
        top: 39px;
        z-index: 10;
    }
    .nav-mobile-menu span {
        height: 1px;
        background-color: #a6c354;
        position: absolute;
        left: 0;
        right: 0;
        transition: 0.5s ease-in-out;
    }
    .nav-mobile-menu span:first-child {
        top: 3px;
    }
    .nav-mobile-menu span:nth-child(2) {
        top: 8px;
    }
    .nav-mobile-menu span:last-child {
        bottom: 6px;
    }
    .nav-mobile-menu.active-menu span:first-child {
        top: 50%;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .nav-mobile-menu.active-menu span:nth-child(2) {
        top: 50%;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .nav-mobile-menu.active-menu span:last-child {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    .navigation {
        opacity: 0;
        visibility: hidden;
        transform: translateX(100%);
        position: absolute;
        background-color: #191919;
    }
    .navigation.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateX(0%);
        z-index: 10;
    }

    .menu ul {
        flex-direction: column;
    }
    .navigation {
        position: absolute;
        background-color: #191919;
        top: 0;
        right: 0;
        height: 100%;
        width: 60%;
        transition: 0.5s ease-in-out;
    }
    .menu {
        padding: 100px 0;
    }
    .menu ul {
        padding: 0;
    }
    .menu li {
        border-top: 1px solid rgba(255, 255, 255, 0.03);
    }

    .menu li:last-child {
        border-bottom: 1px solid rgba(255, 255, 255, 0.03);
    }
    .menu a {
        display: block;
        padding: 20px 5px 20px 30px;
        margin-right: 50px;
        text-decoration: none;
        line-height: 19px;
        color: #a6a6a6;
    }
    .header-container {
        background-color: black;
    }
    .home-upper-section {
        padding: 150px 0;
    }
    .home-upper-section-btns {
        flex-direction: column;
        align-items: center;
    }
    .promo-btn {
        margin: 10px 10px;
    }
    .alps h3 {
        font-size: 29px;
        line-height: 35px;
        letter-spacing: 0px;
    }
    .alps h6 {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0px;
    }
    .slick-next,
    .slick-prev {
        display: none !important;
    }
    .slick-image img {
        width: 90%;
    }
    .footer-links {
        margin: 0;
    }
    .under-line p {
        text-align: center;
    }
    .blog-post {
        flex-direction: column;
    }
    .blog-post-text {
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0px;
    }
    .about-me-upper-section-text,
    .about-me-upper-section-arguments,
    .about-me-upper-section img {
        padding: 10px;
    }
    .about-me-upper-section-text h1 {
        font-size: 33px;
        line-height: 36px;
    }
    .about-me-upper-section-text h3 {
        font-size: 16px;
        line-height: 22px;
    }
    [class*='about-me-argument-'] {
        width: 100%;
        margin: 0 0 20px;
    }
    [class*='about-me-argument-'] h3 {
        font-size: 40px;
        line-height: 40px;
    }
    [class*='about-me-argument-'] h4 {
        font-size: 13px;
        line-height: 19px;
    }
    .about-me-post-image {
        height: 250px;
    }
}
.home-upper-section {
    background: url('/images/home-upper-section.jpg') center center no-repeat;
    background-size: cover;
}
.home-upper-section-content {
    display: flex;
    justify-content: center;
}
.home-upper-section h2 {
    line-height: 53px;
    font-size: 53px;
    text-align: center;
}
.home-upper-section p {
    color: #a6c354;
    text-align: center;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 19px;
}
.home-upper-section-btns {
    display: flex;
    justify-content: center;
}
.home-upper-section-btn {
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 19px;
    border-color: rgb(48, 60, 42);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    padding: 15px 35px;
    width: 170px;
    text-align: center;
}
.home-upper-section-btn:hover {
    background-color: #a6c354;
}
.alps {
    margin-bottom: 15px;
}
.home-post-image,
.alps-image {
    display: inline-block;
    overflow: hidden;
}
.alps-image img,
.home-post-image img {
    width: 100%;
    transition: all 0.7s ease-in-out;
    display: block;
}
.alps-image img:hover,
.home-post-image img:hover {
    transform: scale(1.1);
}
.alps h3 {
    color: white;
    margin: 0 0 5px;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
}
.alps h6 {
    color: #a6c354;
    margin: 0 0 15px;
}
.alps p {
    color: white;
    margin-bottom: 15px;
}
.check {
    display: block;
    background: url('images/home_behind_pic10.png') no-repeat left 3px;
    padding-left: 35px;
}
.alps-text {
    padding: 40px 0 0 10%;
}
h2 {
    font-size: 48px;
    line-height: 58px;
    font-weight: 700;
    letter-spacing: 0px;
    color: white;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
}
.home-last-news {
    margin-bottom: 40px;
}
.home-post,
.about-me-post {
    margin-bottom: 20px;
}
.home-post-text {
    padding: 10px 5px 0;
}
.post-head {
    color: #a8a8a8;
}
.post-head a {
    text-decoration: none;
    color: #a8a8a8;
    border-bottom: 1px dotted;
}
.home-post-title h2 {
    font-size: 130%;
    line-height: 140%;
    margin: 10px 0 15px;
}
.home-post-title a {
    text-decoration: none;
    color: white;
}
.home-post-excerpt {
    color: white;
    margin-bottom: 15px;
}
.home-post-footer {
    display: flex;
    justify-content: flex-end;
}
.home-post-footer a {
    text-decoration: none;
    color: #a6c354;
}
.home-post-footer a:hover {
    text-decoration: underline;
    color: #81a029;
}
.what-you-need {
    background: url(./images/home_behind_sectionbg2.jpg) no-repeat center bottom;
    padding-top: 90px;
    padding-bottom: 50px;
}
.what-you-need-image {
    margin-bottom: 20px;
}
.what-you-need h4 {
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 0px;
    color: white;
    margin: 0 0 15px;
}
.what-you-need p {
    font-family: 'Yantramanav', Helvetica, Arial, sans-serif;
    font-size: 17px;
    line-height: 27px;
    font-weight: 400;
    letter-spacing: 0px;
    color: white;
}
.videos h2 {
    text-align: center;
}
.slick-image {
    display: flex !important;
    justify-content: center;
}

.slick-dots li button:before {
    color: rgba(255, 255, 255, 0.3);
    font-size: 12px;
}
.slick-dots li.slick-active button:before {
    color: #a6c354;
}
.slick-next {
    right: 50px;
}
.slick-next:before,
[dir='rtl'] .slick-prev:before {
    content: '>';
}
.slick-next:before,
.slick-prev:before {
    font-size: 75px;
    color: #a6c354;
}
.slick-prev:before {
    content: '<';
}
.slick-prev {
    left: 30px;
    z-index: 10;
}
.slick-dots {
    bottom: -40px;
}
.photo-gallery .row {
    justify-content: center;
}
.photo-gallery-content {
    width: 55%;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 10px;
}
.photo-gallery-content p {
    color: white;
}
.green-text {
    color: #a6c354;
}
.photo-gallery-btns {
    margin: 50px 0;
}
.photo-gallery h2 {
    margin-bottom: 20px;
}
.photo-gallery-btns a {
    text-decoration: none;
    color: white;
    padding: 15px 30px;
    border: 1px solid #2d2f21;
    border-radius: 3px;
    margin: 0 10px;
    font-weight: 500;
}
.photo-gallery-btns a:hover {
    background-color: #a6c354;
}
.photo-gallery-image img {
    width: 100%;
}
.footer {
    margin-top: 90px;
}
.footer-data {
    margin-bottom: 40px;
}
.footer-text {
    color: white;
}
.footer-links {
    color: #a6c354;
}
.footer-links li {
    margin-bottom: 10px;
}
.footer-links a {
    text-decoration: none;
    color: white;
}
.footer-links a:hover {
    color: #a6c354;
    text-decoration: underline;
}
.under-line {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding: 12px 0;
    color: white;
}
.blog-upper-section,
.gallery-upper-section {
    padding-top: 480px;
    padding-bottom: 100px;
    display: flex;
    align-items: flex-end;
}
.blog-upper-section {
    background: url('/images/blog-upper-section.jpg') center center no-repeat;
    background-size: cover;
}
.gallery-upper-section {
    background: url('/images/gallery-upper-section.jpg') center center no-repeat;
    background-size: cover;
}
.blog-upper-section .row,
.gallery-upper-section .row {
    flex-direction: column;
}
.blog-upper-section h3,
.gallery-upper-section h3 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: 0px;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
    color: white;
}
.gallery-photo {
    overflow: hidden;
    margin: 20px 0;
}
.gallery-photo img {
    width: 100%;
    transition: all 0.4s ease-in-out;
    display: block;
}
.gallery-photo img:hover {
    transform: scale(1.1);
}
.blog-post {
    margin-bottom: 20px;
    display: flex;
}
.blog-post-image {
    overflow: hidden;
}
.blog-post-image img {
    width: 100%;
    transition: all 0.7s ease-in-out;
    display: block;
}
.blog-post-image img:hover {
    transform: scale(1.1);
}
.blog-post-text {
    padding: 10px 5px 0;
}
.blog-post-head {
    color: #a8a8a8;
}
.blog-post-head a {
    text-decoration: none;
    color: #a8a8a8;
    border-bottom: 1px dotted;
}
.blog-post-title h2 {
    font-size: 130%;
    line-height: 140%;
    margin: 10px 0 15px;
}
.blog-post-title a {
    text-decoration: none;
    color: white;
}
.blog-post-excerpt {
    color: white;
    margin-bottom: 15px;
}
.blog-post-footer {
    display: flex;
    justify-content: flex-end;
}
.blog-post-footer a {
    text-decoration: none;
    color: #a6c354;
}
.blog-post-footer a:hover {
    text-decoration: underline;
    color: #81a029;
}
.about-me-upper-section {
    padding-top: 260px;
    background-image: url(./images/home_behind_sectionbg4.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    font-family: 'PT Serif', Helvetica, Arial, sans-serif;
}
.about-me-upper-section img {
    width: 100%;
}
.about-me-upper-section-text {
    color: white;
}
.about-me-upper-section-text h1 {
    font-weight: 700;
    letter-spacing: 0px;
}
.about-me-upper-section-text h3 {
    font-weight: 400;
    letter-spacing: 0px;
}
.about-me-upper-section-arguments {
    display: flex;
    flex-wrap: wrap;
}
[class*='about-me-argument-'] {
    background-repeat: no-repeat;
    background-position: left top;
    padding: 5px 0 0 120px;
}
[class*='about-me-argument-'] h3 {
    font-weight: 400;
    letter-spacing: 0px;
    margin: 0 0 15px;
}
[class*='about-me-argument-'] h4 {
    font-weight: 700;
    letter-spacing: 0px;
    color: white;
    margin: 0 0 15px;
}
.about-me-argument-1 {
    background-image: url(./images/home_behind_pic2.png);
}
.about-me-argument-2 {
    background-image: url(./images/home_behind_pic3.png);
}
.about-me-argument-3 {
    background-image: url(./images/home_behind_pic4.png);
}
.about-me-argument-4 {
    background-image: url(./images/home_behind_pic5.png);
}
.about-me-last-news .col-md-6,
.about-me-last-news .col-sm-6 {
    padding: 0;
}
.about-me-post {
    margin-bottom: 10px;
}
.about-me-post-image {
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.about-me-post-title h2 {
    font-size: 130%;
    line-height: 140%;
    margin: 0;
    padding-left: 20px;
}
.about-me-post .post-head {
    padding-left: 20px;
}
.about-me-post-title a {
    text-decoration: none;
}
.about-me-post-line {
    content: '';
    display: block;
    height: 3px;
    margin-top: 20px;
    width: 0;
    transition: all 0.4s ease-out;
    margin-left: 20px;
}
.about-me-post-image:hover .about-me-post-line {
    background: #a6c354;
    width: 40%;
    margin-bottom: 20px;
}
.about-me-post-image:hover.about-me-post-title h2 {
    margin-bottom: 20px !important;
}
